.container {
  text-align: center;
  font-family: monospace;
}

body {
  background: lightslategrey;
}

label, .btn, #value, ul {
  font-size: 16px;
}

#value, h3, ul {
  word-wrap: normal;
}

h1 {
  font-size: 48px;
  text-shadow: 1px 1px 1px #000, 
               2px 2px 3px gray,
               4px 4px 6px white; 
}


